@{
    ViewData["Title"] = "Team view";
}

<tr>
    <th class="align-middle" scope="row">1</th>
    <td class="align-middle">@Model.Name</td>
    <td class="align-middle">@(Model.HomeGames.Count + Model.AwayGames.Count)</td>
    <td class="align-middle">@Model.Wins</td>
    <td class="align-middle">@Model.Draws</td>
    <td class="align-middle">@Model.Losts</td>
    <td class="align-middle">@Model.GoalsFor</td>
    <td class="align-middle">@Model.GoalsAgainst</td>
    <td class="align-middle">@(Model.GoalsFor - Model.GoalsAgainst)</td>
    <td class="align-middle">@Model.Points</td>
</tr>
